/* eslint-disable */

import React from 'react';
#svgComponents#

const IconFont = ({ name, ...rest }) => {
  switch (name) {
#cases#  }

  return null;
};

const Svg = React.memo(IconFont)

export default Svg
