/* eslint-disable */

import React from 'react';
#svgComponents#
#imports#

const IconFont = ({ name, ...rest }) => {
  switch (name) {
#cases#  }

  return null;
};

const Svg =  React.memo ? React.memo(IconFont) : IconFont;

export default Svg
